{% extends 'login-base.html' %}
{% load static %}
{% block main %}
    <div class="page-container">
        <!-- Page Inner -->
        <div class="page-inner login-page">
            <div id="main-wrapper" class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-3 login-box">
                        <h4 class="login-title">登陆</h4>
                        <form action="/login/" method="post">
                            {% if message %}
                                <div class="alert alert-warning">{{ message }}</div>
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">邮箱</label>
                                <input type="email" class="form-control" id="id_email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">密码</label>
                                <input type="password" class="form-control" id="id_password" name="password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="登陆">
                            <a href="/register/" class="btn btn-default">注册</a><br>
                            <a href="index.html" class="forgot-link">忘记密码？</a>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /Page Content -->
    </div>
{% endblock main %}
