{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>域名管理系统</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="{% static 'login/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'login/assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'login/assets/plugins/icomoon/style.css' %}" rel="stylesheet">
    <link href="{% static 'login/assets/plugins/uniform/css/default.css' %}" rel="stylesheet"/>
    <link href="{% static 'login/assets/plugins/switchery/switchery.min.css' %}" rel="stylesheet"/>

    <!-- Theme Styles -->
    <link href="{% static 'login/assets/css/ecaps.min.css' %}" rel="stylesheet">
    <link href="{% static 'login/assets/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js' %} for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js' %} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
        <![endif]-->
</head>
<body>

{% block main %}
{% endblock main %}

<script src="{% static 'login/assets/plugins/jquery/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'login/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'login/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'login/assets/plugins/uniform/js/jquery.uniform.standalone.js' %}"></script>
<script src="{% static 'login/assets/plugins/switchery/switchery.min.js' %}"></script>
<script src="{% static 'login/assets/js/ecaps.min.js' %}"></script>
<script src="{% static 'login/assets/js/pages/ui-modals.js' %}"></script>
</body>
</html>